<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/common.css">
<link rel="stylesheet" href="../static/contacts.css">

<head>
    <title id="title">StudCloud - главная</title>
</head>

<body>
<header th:insert="blocks/header.html"></header>
<section>
    <h2>Привет!</h2>
    <label id="label">
        Это мой первый более или менее серьезный проект на джаве. Разумеется, в нем не может не быть горы багов,<br>
        поэтому обо всех проблемах стоит сообщать. Сообщать лучше всего сюда:--><a href="http://vk.com/dslynko">вконтактик</a><--<br>На этом пока все! Возможно, здесь будут ссылки на мои следующие шыдевры :3
    </label>
</section>
<footer th:insert="blocks/footer.html"></footer>
</body>
</html>