<!DOCTYPE HTML>
<link rel="stylesheet" type="text/css" href="../static/contacts.css">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title id="title">StudCloud - главная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<header th:insert="blocks/header :: header"></header>
<body style="margin-top: 87px; margin-bottom: 125px; padding-top: 2%">
<div>
    <h2 style="margin-left: 14%">
        Привет!
    </h2>
    <label id="label" style="margin-left: 14%">
        Это мой первый более или менее серьезный проект на джаве. Разумеется, в нем не может не быть горы багов,<br>
        поэтому обо всех проблемах стоит сообщать. Сообщать лучше всего сюда:--><a href="http://vk.com/dslynko">вконтактик</a><--<br>На этом пока все! Возможно, здесь будут ссылки на мои следующие шыдевры :3
    </label>
</div>

</body>
<footer th:insert="blocks/footer :: footer"></footer>
</html>