<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/common.css">

<head>
    <title>StudCloud - главная</title>
</head>

<body>
<header th:insert="blocks/header.html"></header>
<section>
    <h1>Файл</h1>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <form th:action="'/file/' + ${file.getId()} + '/edit/delete'" method="post">
            <input type="hidden" th:name="_csrf" th:value="${_csrf.token}">
            <input type="hidden" th:name="file" th:value="${file}">
            <button type="submit" class="btn btn-success">Удалить файл</button>
        </form>
    </div>
    <div>
    </div>
    <div>
        <h4>
            Обсуждение
        </h4>
        <div th:each="message : ${file.getComments()}">
            <form th:action="'/file/' + ${file.getId()} + '/edit/' + ${message.getId()} + 'deleteComment'" method="post">
                <h6 th:text="${message.getDate()}"></h6>
                <h6 th:text="${message.getUserName()}"></h6>
                <p th:text="${message.getMessage()}"></p>
                <input type="hidden" th:name="_csrf" th:value="${_csrf.token}">
                <button type="submit" class="btn btn-success">Удалить комментарий</button>
            </form>
        </div>
    </div>
</section>
<footer th:insert="blocks/footer.html"></footer>
</body>
</html>