<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/common.css">

<head>
    <title>Регистрация</title>
</head>

<body>
<header th:insert="blocks/header.html"></header>
<section>
<form action="/user/update" method="post">
    <h2>Изменение данных пользователя</h2>
    <input type="email" name="email" placeholder="Электронная почта"
            readonly onfocus="this.removeAttribute('readonly');"/>
    <input type="password" name="password" placeholder="Пароль" pattern="((?=.*\d)(?=.*[a-zA-Z]).{8,20})"
            readonly onfocus="this.removeAttribute('readonly');"/>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
    <button type="submit" class="btn btn-primary my-2">Сохранить изменения</button>
</form>
</section>
<footer th:insert="blocks/footer.html"></footer>
</body>
</html>