<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>StudCloud - главная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/file.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body style="display: flex; flex-direction: column; height: 100%; height: -webkit-fill-available;">
    <header style="flex: 0 0 auto;" th:insert="blocks/header :: header"></header>
    <div style="margin-top: 87px; padding-top: 2%; flex: 1 0 auto;">
        <h2 style="margin-left: 2%">Файл</h2>
        <div sec:authorize="hasRole('ROLE_ADMIN')" style="float: right; margin-right: 2%">
            <form th:action="'/file/' + ${file.get().getId()} + '/edit'" method="post">
                <input type="hidden" th:name="_csrf" th:value="${_csrf.token}">
                <input type="hidden" name="fileID" th:value="${file.get().getId()}">
                <button type="submit" class="btn btn-success ml-2">Редактировать</button>
            </form>
        </div>
        <div class="d-flex flex-md-column align-items-stretch"
             style="background: whitesmoke;
                    margin-left: 2%;
                    margin-right: 2%;
                    padding: 1%;
                    border-style: solid;
                    border-width: thin;
                    border-radius: 7px;
                    border-color: darkgray">
            <h6 th:text="${file.get().getUniversity().getName()}"></h6>
            <h6 th:text="${file.get().getDepartment().getName()}"></h6>
            <h6 th:text="${file.get().getTeacher().getName()}"></h6>
            <h6 th:text="${file.get().getSubj().getName()}"></h6>
            <a th:href="'/user/' + ${file.get().getUser().getId()}" th:text="'Добавил ' + ${file.get().getUser().getUsername()} + ', ' + ${file.get().getDate().toString()}"></a>
            <a class="btn btn-outline-info" th:href="'/files/' + ${file.get().getId()} + '/download/'">Скачать</a>
        </div>
        <h4 style="margin-left: 2%">
            Обсуждение
        </h4>
        <div sec:authorize="isAuthenticated()">
            <form method="post" class="d-flex flex-md-row align-items-start"
                  style="margin-left: 2%;
                                margin-right: 2%;
                                margin-bottom: 1%;
                                font: 100% sans-serif;
                                background: whitesmoke;
                                border-style: solid;
                                border-width: thin;
                                border-radius: 7px;
                                border-color: darkgray">
                    <textarea type="text" name="message" placeholder="Сообщение" required
                              class="form-control m-1" maxlength="2047"
                              style="width: 100%; height: 80px"></textarea>
                <input type="hidden" th:name="_csrf" th:value="${_csrf.token}">
                <button type="submit" class="btn btn-success m-1">Отправить</button>
            </form>
        </div>
        <div th:each="message : ${file.get().getComments()}" class="d-flex flex-md-column align-items-start"
             style="
                                margin: 1% 2%;
                                font: 100% sans-serif;
                                background: whitesmoke;
                                border-style: solid;
                                border-width: thin;
                                border-radius: 7px;
                                border-color: darkgray">
            <h6 class="px-3 py-2" th:text="${message.getDate()}"></h6>
            <h6 class="px-3 py-2" th:text="${message.getUserName()}"></h6>
            <p class="px-3 pt-2" th:text="${message.getMessage()}"></p>
        </div>
    </div>
    <footer style="flex: 0 0 auto;" th:insert="blocks/footer :: footer"></footer>
</body>
</html>