<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/common.css">

<head>
    <title>Добавление файла</title>
</head>
<body >

<header th:insert="blocks/header.html"></header>
<section class="container mt-4">
    <h1>Добавление файла</h1>
    <form action="/add" method="post" enctype="multipart/form-data"
            class="d-flex flex-md-column align-items-stretch">
        <input type="text" name="universityName" placeholder="ВУЗ" class="form-control my-2" required>
        <input type="text" name="departmentName" placeholder="Департамент" class="form-control my-2" required>
        <input type="text" name="teacherName" placeholder="Имя преподавателя" class="form-control my-2" required>
        <input type="text" name="subjectName" placeholder="Предмет" class="form-control my-2" required>
        <input type="text" name="fileName" placeholder="Имя файла" class="form-control my-2" required>
        <input type="file" name="file" required class="btn btn-outline-info my-2">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <button type="submit" class="btn btn-outline-primary my-2">Добавить файл</button>
    </form>
</section>
<footer th:insert="blocks/footer.html"></footer>
</body>
</html>