<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/common.css">

<head>
    <title>StudCloud</title>
</head>

<body>
<header th:insert="blocks/header.html"></header>
<section>
    <h4>Последние добавленные файлы</h4>
    <div th:each="file : ${files}" class="container mt-3">
        <span th:text="'Добавил ' + ${file.getUser().getUsername()} + ' ' + ${file.getDate().toString()}"></span>
        <a class="btn btn-outline-secondary"
           th:href="'/files/' + ${file.getId()}"
           th:text="${file.getName()} + ' ' + ${file.getTeacher().getName()} + ' ' + ${file.getSubj().getName()}"></a>
    </div>
</section>
<footer th:insert="blocks/footer.html"></footer>
</body>
</html>