<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/common.css">
<link rel="stylesheet" href="../static/user.css">

<head>
    <title>Регистрация</title>
</head>
<body>

<header th:insert="blocks/header.html"></header>
<section>
<form action="/registration" method="post" class="login-form">
    <h2 class="login-form-element">Новый пользователь</h2>
    <label  class="login-form-element">
        <input type="email" name="email" placeholder="Электронная почта"/>
    </label>
    <span class="login-form-element" th:text="${emailError?.toString()}"></span>
    <label class="login-form-element">
        <input type="text" name="username" placeholder="Имя пользователя"/>
    </label>
    <span class="login-form-element" th:text="${usernameError?.toString()}"></span>
    <span class="login-form-element" th:text="${usernameExistsError?.toString()}"></span>
    <label class="login-form-element">
        <input title="Пароль должен содержать цифры и буквы латинского алфавита и состоять из 8-20 символов"
               type="password" name="password" placeholder="Пароль"/>
    </label>
    <span class="login-form-element" th:text="${passwordDoesntMatchRegexError?.toString()}"></span>
    <span class="login-form-element" th:text="${passwordError?.toString()}"></span>
    <label class="login-form-element">
        <input type="password" name="passwordValidation" placeholder="Подтвердите пароль"/>
    </label>
    <span class="login-form-element" th:text="${passwordsDoesntEqualsError?.toString()}"></span>
    <input class="login-form-element" type="hidden" name="_csrf" th:value="${_csrf.token}"/>
    <button type="submit" class="btn btn-primary mb-3 login-form-element">Зарегистрироваться</button>
</form>
</section>
<footer th:insert="blocks/footer.html"></footer>
</body>
</html>