<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div>
    Новый пользователь
</div>
<form action="/registration" method="post" class="alert alert-info mt-2">
    <label>
        <input type="email" name="email" placeholder="Электронная почта"/>
    </label>
    <span th:text="${emailError?.toString()}"/>
    <br>
    <label>
        <input type="text" name="username" placeholder="Имя пользователя"/>
    </label>
    <span th:text="${usernameError?.toString()}"/>
    <span th:text="${usernameExistsError?.toString()}"/>
    <br>
    <label>
        <input type="password" name="password" placeholder="Пароль"/>
    </label>
    <span th:text="${passwordDoesntMatchRegexError?.toString()}"/>
    <span th:text="${passwordError?.toString()}"/>
    <br>
    <label>
        <input type="password" name="passwordValidation" placeholder="Подтвердите пароль"/>
    </label>
    <span th:text="${passwordsDoesntEqualsError?.toString()}"/>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
    <button type="submit">Зарегистрироваться</button>
</form>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>