    <a class="studcloud-button" href="/">StudCloud :D</a>
    <div class="nav-bar">
        <a sec:authorize="isAuthenticated()" class="nav-bar-button" href="/user/update">Редактировать данные</a>
        <a sec:authorize="isAuthenticated()" class="nav-bar-button" href="/user/">Профиль</a>
        <a class="nav-bar-button" href="/files">Все файлы</a>
        <a class="nav-bar-button" href="/add">Добавить файл</a>
        <a class="nav-bar-button" href="/contacts">Наши контакты</a>
    </div>
    <div>
        <div sec:authorize="!isAuthenticated()" class="p-2 log-button">
            <form action="/login">
                <input type="submit" class="btn btn-success p-2" value="Войти"/>
            </form>
        </div>
        <div sec:authorize="isAuthenticated()" class="p-2 log-button">
            <form th:action="@{/logout}" method="post">
                <input type="submit" class="btn btn-success p-2" value="Выйти"/>
            </form>
        </div>
    </div>
